.swiper {
    width: 100%;
    padding: 10px;
}

.swiper-slide {
    width: 250px;
    padding: 10px;
    color: #000;
    display: flex;
    gap: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, .5);
    transition: box-shadow .3s ease;
}

.swiper-slide:hover {
    box-shadow: 1px 2px 5px 3px rgba(0, 0, 0, .5);
}

.swiper-slide:hover .hearth {
    background-color: var(--vermelho);
}

.swiper-slide:hover .btn-encomendar {
    background-color: var(--vermelho);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .5);
}

.hearth {
    width: 80px;
    height: 80px;
    padding-top: 6%;
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    justify-content: center;
    border-radius: 0% 0% 0% 80%;
    background-color: var(--rosa);
    transition: background-color .5s ease;
}

.texto {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
}

.btn-encomendar {
    width: 60px;
    height: 50px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
    transition: all .3s ease;
}

.btn-encomendar button {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--rosa);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--vermelho);
}

.swiper-button-prev::after {
    content: '\f104';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
}

.swiper-button-next::after {
    content: '\f105';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
}